doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/Hover/css/hover-min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    script(src='/stylesheets/bower_components/jquery/dist/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    //- script(src='/javascripts/highcharts.js')
    //- script(src='/javascripts/highcharts-more.js')
    script(src='/socket.io/socket.io.js')
    //- script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block ref
  body
    block nav
    block content
