doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    script(src='https://code.jquery.com/jquery-3.0.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    //- script(src='/javascripts/highcharts.js')
    //- script(src='/javascripts/highcharts-more.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    //- script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block ref
  body
    block nav
    block content
